docroot/WEB-INF/paymentgw.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://iwebservice.nms.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://iwebservice.nms.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iwebservice.nms.com">
<xsd:complexType name="VoucherPostpaidReq">
<xsd:sequence>
<xsd:element minOccurs="0" name="agentId" type="xsd:long"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="isdn" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="partnerId" type="xsd:long"/>
<xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="requestDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="requestId" type="xsd:long"/>
<xsd:element minOccurs="0" name="secretCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="serial" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="voucherPostpaid">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:VoucherPostpaidReq"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="VoucherPostpaidResp">
<xsd:sequence>
<xsd:element minOccurs="0" name="amout" type="xsd:int"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="resultDescription" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="voucherPostpaidResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:VoucherPostpaidResp"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ScratchCardReq">
<xsd:sequence>
<xsd:element minOccurs="0" name="agentId" type="xsd:long"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="partnerId" type="xsd:long"/>
<xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="requestDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="requestId" type="xsd:long"/>
<xsd:element minOccurs="0" name="secretCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="serial" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="cardCharging">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:ScratchCardReq"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ScratchCardResp">
<xsd:sequence>
<xsd:element minOccurs="0" name="amout" type="xsd:int"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="resultDescription" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="cardChargingResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ScratchCardResp"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="TopupReq">
<xsd:sequence>
<xsd:element minOccurs="0" name="agentId" type="xsd:long"/>
<xsd:element minOccurs="0" name="amount" type="xsd:double"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="isdn" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="partnerId" type="xsd:long"/>
<xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="requestDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="requestId" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="topupOnline">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:TopupReq"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="TopupResp">
<xsd:sequence>
<xsd:element minOccurs="0" name="amout" type="xsd:int"/>
<xsd:element minOccurs="0" name="result" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="resultDescription" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="topupOnlineResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:TopupResp"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="cardChargingResponse">
    <wsdl:part name="parameters" element="tns:cardChargingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cardChargingRequest">
    <wsdl:part name="parameters" element="tns:cardCharging">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="topupOnlineResponse">
    <wsdl:part name="parameters" element="tns:topupOnlineResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="topupOnlineRequest">
    <wsdl:part name="parameters" element="tns:topupOnline">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="voucherPostpaidRequest">
    <wsdl:part name="parameters" element="tns:voucherPostpaid">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="voucherPostpaidResponse">
    <wsdl:part name="parameters" element="tns:voucherPostpaidResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="paymentgwPortType">
    <wsdl:operation name="voucherPostpaid">
      <wsdl:input name="voucherPostpaidRequest" message="tns:voucherPostpaidRequest">
    </wsdl:input>
      <wsdl:output name="voucherPostpaidResponse" message="tns:voucherPostpaidResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cardCharging">
      <wsdl:input name="cardChargingRequest" message="tns:cardChargingRequest">
    </wsdl:input>
      <wsdl:output name="cardChargingResponse" message="tns:cardChargingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topupOnline">
      <wsdl:input name="topupOnlineRequest" message="tns:topupOnlineRequest">
    </wsdl:input>
      <wsdl:output name="topupOnlineResponse" message="tns:topupOnlineResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="paymentgwHttpBinding" type="tns:paymentgwPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="voucherPostpaid">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="voucherPostpaidRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="voucherPostpaidResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cardCharging">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="cardChargingRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cardChargingResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topupOnline">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="topupOnlineRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="topupOnlineResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="paymentgw">
    <wsdl:port name="paymentgwHttpPort" binding="tns:paymentgwHttpBinding">
      <wsdlsoap:address location="http://10.8.2.101:8080/paymentws/services/paymentgw"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
